/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

/* base colours */

:root {
  --brand: #131200;
  --action: #D0CFCF;
  --white: #ffffff;
  --base-light: #F7EBE8;
  --base-dark: #131200;
  --black: #111111;
}

/* CSS reset */

body {
  box-sizing: border-box;               /* Makes width/height include padding & border */
  font-size: 14px;                      /* Sets base font size */
  font-family: "Elms Sans", sans-serif;  /* Sets default font for the page */
  color: var(--black);                  /* Text color using a CSS variable */
  scroll-behavior: smooth;              /* Enables smooth scrolling for anchor links */
  background: #ffffff;
  background: linear-gradient(260deg,rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 16%);
}

*,
*:before,
*:after {
  box-sizing: inherit;                  /* Makes all elements inherit the box sizing */
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira', sans-serif;     /* Setting the font for headings */
}


body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure {   
  margin: 0;                            /* Remove default margin and padding */
  padding: 0;
}

body {
  line-height: 1.5;                     /* Set a comfortable line height */
}

ul, ol {
  list-style:none                       /* Remove list styles */
}

img {
  max-width: 100%;                      /* make images responsive */
  height: auto;
}

input, button, textarea, select {
  font: inherit;                        /* Elements inherit font */
}


/* circle image css */

.profile-image {
  width: 200px;       /* Set desired size */
  height: 200px;      /* Make width and height equal for a perfect circle */
  border-radius: 50%; /* Creates the circular shape */
  object-fit: cover;  /* Ensures the image fills the circle without squishing - I NEED TO CHECK THE QUALITY */
  margin-top: 30px;
  border: 5px solid #111111;
}

.profile-details-container {
  width: 300px;
  height: 100vh;
  border: 3px solid #111111;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.profile-top-nav-container {
  display: flex;
  flex-flow: column;
  align-items: center;  
}

.profile-details-container h1 {
  align-self: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.desktop-nav a {
  text-decoration: none;
  color:#111111;
  background: #ffffff;
  display: flex;
  margin: 10px;
  padding-inline: 64px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #111111;
  border-top: 5px solid #111111;
  border-right: 5px solid #111111;
  border-bottom: 2px solid #111111;
  border-radius: 10px;
  justify-content: center;
}

a:hover {
  background: #706e6e;
  color: #ffffff;
}

.desktop-nav .active {
  background: #706e6e;
  color: #ffffff;
}

.hamburger-button {
  border: none;
  background-color: rgba(235, 235, 235, 0);
}

.hamburger-icon {
  height: 40px;
}

.social-icon{
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
}

.flex-container{
  display: flex;
  flex-direction: column;
}

.profile-about-me-container{
  height: 100vh;
  width: 100%;
  padding-top: 43px;
  border-right: 3px solid #111111;
  border-top: 3px solid #111111;
  border-bottom: 3px solid #111111;
}

.profile-about-me-container p{
  margin-bottom: 15px;
  margin-left: 40px;
  margin-right: 60px;
  font-size: 16px;
}

/* .contact-form */

.contact-form-container {
  display: flex;              
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.contact-form {
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.contact-form input,
.contact-form select {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 2px solid #111111;
}

.contact-form textarea {
  display: flex;
  width: 100%;
  padding: 8px;
  border: 2px solid #111111;
}

.contact-form label {
  display: block;
  width: 100%;
}

.contact-form input[type="submit"] {
  background: #ffffff;
  border: 2px solid #111111;
  border-top: 5px solid #111111;
  border-right: 5px solid #111111;
  border-bottom: 2px solid #111111;
  border-radius: 10px;
  margin-top: 8px;
  cursor: pointer;
}

.contact-form input[type="submit"]:active {
  background: #706e6e;
  color: #ffffff;
}

/* Mobile build */

/* Profile picture */

@media (min-width: 700px) {
  .profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 30px;
  border: 5px solid #111111;
}
}

/* Mobile Side bar container size */

@media (max-width: 700px) {
  .profile-details-container {
  width: 100vw;
  height:30%;
  border: 3px solid #111111;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  }
}

/* Mobile side bar container h1 size */

@media (max-width: 700px) {
  .profile-details-container h1 {
  }
}

/* Mobile side bar container h1 size */

@media (max-width: 700px) {
  .profile-details-container h1 {
  }
}

/* Desktop nav disappearing and appearing */

@media (max-width: 700px) {
  .desktop-nav {
    display: none;
  }
}

/* Mobile: Remove LinkedIn icon from header */

@media (min-width: 700px) {
  .profile-about-me-container .social-icon {
    display: none;
  }
}

@media (max-width: 700px) {
 .social-icon {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
}

@media (max-width: 700px) {
.profile-details-container .social-icon {
  display: none;
 }
}

/* Mobile nav disappearing and appearing */

@media (min-width: 700px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 700px) {
  .mobile-nav {
    display: none;
  }
}

/* Mobile hamburger appearing */

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }
}

/* P moving below on mobile */

@media (min-width: 700px) {
  .flex-container {
    display: flex;
    flex-direction: row;
  }
}

/* Mobile about me container changes */

@media (max-width:700px) {
  .profile-about-me-container{
    padding-top: 43px;
    border-right: 3px solid #111111;
    border-left: 3px solid #111111;
    height: 100%;
  }
}

@media (max-width: 700px) {
  .profile-about-me-container footer{
    flex:display;
    margin-top: 150px;
  }
}

/* Loading screen */

/*HTML*/
    <div class="loader"></div>

/*CSS*/

.loader {
  border: 16px solid #D0CFCF;
  border-radius: 50%;
  border-top: 16px solid #111111;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}