/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

/* base colours */

:root {
  --brand: #131200;
  --action: #D0CFCF;
  --white: #ffffff;
  --base-light: #F7EBE8;
  --base-dark: #131200;
  --black: #111111;
}

/* CSS reset */

body {
  box-sizing: border-box;               /* Makes width/height include padding & border */
  font-size: 12px;                      /* Sets base font size */
  font-family: "Elms Sans", sans-serif;  /* Sets default font for the page */
  color: var(--black);                  /* Text color using a CSS variable */
  scroll-behavior: smooth;              /* Enables smooth scrolling for anchor links */
  background: #ffffff;
  background: linear-gradient(260deg,rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 16%);
}

*,
*:before,
*:after {
  box-sizing: inherit;                  /* Makes all elements inherit the box sizing */
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira', sans-serif;     /* Setting the font for headings */
}


body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure {   
  margin: 0;                            /* Remove default margin and padding */
  padding: 0;
}

body {
  line-height: 1.5;                     /* Set a comfortable line height */
}

ul, ol {
  list-style:none                       /* Remove list styles */
}

img {
  max-width: 100%;                      /* make images responsive */
  height: auto;
}

input, button, textarea, select {
  font: inherit;                        /* Elements inherit font */
}


/* circle image css */

.profile-image {
  width: 200px;       /* Set desired size */
  height: 200px;      /* Make width and height equal for a perfect circle */
  border-radius: 50%; /* Creates the circular shape */
  object-fit: cover;  /* Ensures the image fills the circle without squishing - I NEED TO CHECK THE QUALITY */
  margin-top: 30px;
  border: 5px solid #111111;
}

.profile-details-container {
  width: 300px;
  height: 100vh;
  border: 3px solid #111111;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.profile-top-nav-container {
  display: flex;
  flex-flow: column;
  align-items: center;  
}

.profile-details-container h1 {
  align-self: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.desktop-nav a {
  text-decoration: none;
  color: #111111;
  display: flex;
  margin: 10px;
  padding-inline: 64px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #111111;
  border-top: 5px solid #111111;
  border-right: 5px solid #111111;
  border-bottom: 2px solid #111111;
  border-radius: 10px;
  justify-content: center;
}

.hamburger-button {
  border: none;
  background-color: rgba(235, 235, 235, 0);
}

.hamburger-icon {
  height: 40px;
}

.social-icon{
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
}

.flex-container{
  display: flex;
  flex-direction: column;
}

.profile-about-me-container{
  height: 100vh;
  padding-top: 43px;
  border-right: 3px solid #111111;
  border-top: 3px solid #111111;
  border-bottom: 3px solid #111111;
}

.profile-about-me-container p{
  margin-bottom: 15px;
  margin-left: 40px;
  margin-right: 60px;
  font-size: 16px;
}

/* Mobile build */

/* Profile picture */

@media (min-width: 768px) {
  .profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 30px;
  border: 5px solid #111111;
}
}

/* Mobile Side bar container size */

@media (max-width: 768px) {
  .profile-details-container {
  width: 100vw;
  height:30%;
  border: 3px solid #111111;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  }
}

/* Mobile side bar container h1 size */

@media (max-width: 768px) {
  .profile-details-container h1 {
  }
}

/* Mobile side bar container h1 size */

@media (max-width: 768px) {
  .profile-details-container h1 {
  }
}

/* Desktop nav disappearing and appearing */

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
}

/* Mobile: Remove LinkedIn icon from header */

@media (min-width: 768px) {
  .profile-about-me-container .social-icon {
    display: none;
  }
}

@media (max-width: 768px) {
 .social-icon {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
}

@media (max-width: 768px) {
.profile-details-container .social-icon {
  display: none;
 }
}

/* Mobile nav disappearing and appearing */

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

/* Mobile hamburger appearing */

@media (min-width: 768.5px) {
  .hamburger {
    display: none;
  }
}

/* P moving below on mobile */

@media (min-width: 768.5px) {
  .flex-container {
    display: flex;
    flex-direction: row;
  }
}

/* Mobile about me container changes */

@media (max-width:768.5px) {
  .profile-about-me-container{
    padding-top: 43px;
    border-right: 3px solid #111111;
    border-left: 3px solid #111111;
    height: 100%;
  }
}

@media (max-width: 768.5px) {
  .profile-about-me-container footer{
    flex:display;
    margin-top: 150px;
  }
}